<%-include('header')%>
    <main class="main">
        
        
        <section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <% for (let i=0; i < banner.length; i++) { %>

                            <div class="single-hero-slider single-animation-wrap">
                                <div class="container">
                                    <div class="row justify-content-center slider-animated-1">
                                        <div class="col-lg-12 col-md-12 slider-image"
                                            style="background-image: url('/admin/assets/imgs/category/<%= banner[i].image %>')">
                                            <div class="hero-slider-content-2 text-center align-items-center">
                                                <br /><br /><br />

                                                <h2 class="animated fw-900"
                                                    style="color: rgb(0, 0, 0); font-size: 2rem; text-align:Right;">
                                                    <%= banner[i].title %>
                                                </h2>
                                                <br /><br /><br /><br /><br /><br />

                                                <p class="animated"
                                                    style="margin-left: 1.5rem; color: rgb(10, 10, 10); font-size: 1rem;">
                                                    <%= banner[i].description %>
                                                </p>
                                                <br /><br />

                                                <a class="animated btn btn-brush btn-brush-2"
                                                    href="/shop"
                                                    tabindex="0">Shop Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </section>
        <section class="featured section-padding position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/user/assets/imgs/theme/icons/feature-1.png" alt="">
                            <h4 class="bg-1">Free Shipping</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/user/assets/imgs/theme/icons/feature-2.png" alt="">
                            <h4 class="bg-3">Online Order</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/user/assets/imgs/theme/icons/feature-3.png" alt="">
                            <h4 class="bg-2">Save Money</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/user/assets/imgs/theme/icons/feature-4.png" alt="">
                            <h4 class="bg-4">Promotions</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/user/assets/imgs/theme/icons/feature-5.png" alt="">
                            <h4 class="bg-5">Happy Sell</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                        <div class="banner-features wow fadeIn animated hover-up">
                            <img src="/user/assets/imgs/theme/icons/feature-6.png" alt="">
                            <h4 class="bg-6">24/7 Support</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three"
                                type="button" role="tab" aria-controls="tab-three" aria-selected="false">New
                                added</button>
                        </li>
                    </ul>
                  
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">

                            <% if (product.length> 0) { %>
                                <% for (let i=0; i < product.length; i++) { %>





                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/aProduct?id=<%= product[i].id %>">
                                                        <img class="default-img"
                                                            src="/admin/assets/imgs/category/<%= product[i].images[0] %>"
                                                            alt="">
                                                        <img class="hover-img"
                                                            src="/admin/assets/imgs/category/<%= product[i].images[0] %>"
                                                            alt="">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                        onclick="wishList('<%= product[i]._id%>')"><i class="fi-rs-heart"></i></a>





                                                </div>


                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="#">
                                                        <%= product[i].category %>
                                                    </a>
                                                </div>
                                                <h2><a href="/aProduct?id=<%= product[i].id %>">
                                                        <%= product[i].title %>
                                                    </a></h2>
                                               
                                                    <span style="color: rgb(106, 184, 158);">saved:₹<%=product[i].offerPrice.toFixed(0)
                                                        %> </span>
                                              <div class="product-price">
                                                <span>₹<%= product[i].price.toFixed(0) %></span>
                                                <span class="old-price">₹<%= (product[i].price + product[i].offerPrice).toFixed(0) %></span>
                                            </div>
                                            
                                                <% if(product[i].quantity === 0){ %>
                                                    <div class="product-action-1 show">
                                                        <a  style="color: red;"
                                                            ><i > OUT OF STOCK</i></a>
                                                    </div>
                                           <% }else{ %>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                    onclick="addToCart('<%=product[i].id%>')"><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>

                                            <%}%>
                                            </div>
                                        </div>
                                    </div>


                                    <% } %>

                                        <% } else { %>
                                            <tr>
                                                <td colspan="2">Product not found</td>
                                            </tr>
                                            <% } %>

        </section>
        <section class="popular-categories section-padding mt-15 mb-25">
            <div class="container wow fadeIn animated">
              <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
              <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                <div class="carausel-6-columns" id="carausel-6-columns">
                  <div class="card-1">
                    <figure class="img-hover-scale overflow-hidden">
                      <a href="/CategoryFilter?category=Casuals"><img src="https://images.vegnonveg.com/resized/700X573/9790/dunk-low-geode-tealwhite-emerald-rise-64d366452f9b9.jpg" alt="" style="height: 130px;" /></a>
                    </figure>
                    <h5><a href="/CategoryFilter?category=Casuals">Casuals</a></h5>
                  </div>
                  <div class="card-1">
                    <figure class="img-hover-scale overflow-hidden">
                      <a href="/CategoryFilter?category=Slides">
                        <img src="https://images.vegnonveg.com/resized/700X573/9027/adilette-ayoon-w-sgreencblacksgreen-64058845d0e3e.jpg" alt="" style="height: 130px;"/></a>
                    </figure>
                    <h5><a href="/CategoryFilter?category=Slides">Slides</a></h5>
                  </div>
                  <div class="card-1">
                    <figure class="img-hover-scale overflow-hidden">
                      <a href="/CategoryFilter?category=Shoe Care Products"><img src="https://images.vegnonveg.com/resized/700X573/10444/leather-care-kit-multicolor-multicolor-6568649c96925.jpg" alt="" style="height: 130px;"/></a>
                    </figure>
                    <h5><a href="/CategoryFilter?category=Shoe Care Products">Shoe Care Products</a></h5>
                  </div>
                 
                </div>
              </div>
            </div>
          </section>
          <section class="deals section-padding">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 deal-co">
                  <div class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0" style="
                    background-image: url('https://i.pinimg.com/originals/04/18/91/041891081ab701c7ecd39214601af398.gif');
                  ">
                    <div class="deal-top">
                      <h2 class="text-brand">Deal of the Day</h2>
                      <h5>Limited quantities.</h5>
                    </div>
                    <div class="deal-content">
                      <h6 class="product-title">
                        <a href="shop-product-right.html">limited Collection New products</a>
                      </h6>
                      <div class="product-price">
                        <span class="new-price">₹7999.00</span><span class="old-price">₹10599</span>
                      </div>
                    </div>
                    <div class="deal-bottom">
                      <p>Hurry Up! Offer End In:</p>
                      <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                      <a href="/shop" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 deal-co">
                  <div class="deal wow fadeIn animated" style="
                    background-image: url('https://i.pinimg.com/originals/56/e1/e7/56e1e73dcd8b78a63bdae2915c012e3e.gif');
                  ">
                    <div class="deal-top">
                      <h2 class="text-brand">New Arrivals</h2>
                      <h5>Casuals</h5>
                    </div>
                    <div class="deal-content">
                      <h6 class="product-title">
                        <a href="shop-product-right.html">Try some new gadgets</a>
                      </h6>
                      <div class="product-price">
                        <span class="new-price">₹17800.00</span><span class="old-price">₹25600.99</span>
                      </div>
                    </div>
                    <div class="deal-bottom">
                      <p>Hurry Up! Offer End In:</p>
                      <div class="deals-countdown" data-countdown="2026/03/25 00:00:00"></div>
                      <a href="/shop" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section-padding">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows">
                    </div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
      
      
      
                        <% if (product.length> 0) { %> <% for (let i=0; i < product.length; i++) { %>
                                <div class="product-cart-wrap small hover-up">
      
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/aProduct?id=<%= product[i].id %>">
                                                <img class="default-img"
                                                    src="/admin/assets/imgs/category/<%= product[i].images[0] %>"
                                                    alt="">
                                                <img class="hover-img"
                                                    src="/admin/assets/imgs/category/<%= product[i].images[2] %>"
                                                    alt="">
                                            </a>
                                        </div>
      
      
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2><a href="/aProduct?id=<%= product[i].id %>">
                                                <%= product[i].title %>
                                            </a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹<%= Math.round(product[i].price) %></span>
                                            <span class="old-price">₹<%= Math.round(product[i].price + 50) %></span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--End product-cart-wrap-2-->
                                <% } %>
                                    <% } else { %>
      
      
                                        <tr>
                                            <td colspan="2">Product not found</td>
                                        </tr>
                                        <% } %>
      
      
                    </div>
                </div>
            </div>
        </section>

        
        <section class="section-padding">
            <div class="container">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows">
                    </div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        <div class="brand-logo">
                            <img class="" src="/user/assets/imgs/banner/brand-1.JPEG" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="" src="/user/assets/imgs/banner/brand-2.png" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="" src="https://logowik.com/content/uploads/images/converse-new1270.jpg" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="" src="https://www.liblogo.com/img-logo/bi8094i7e3-birkenstock-logo-identifying-fonts-birkenstock-logo-typography-fall-2016.png" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="" src="https://static.vecteezy.com/system/resources/thumbnails/010/994/412/small/nike-logo-black-with-name-clothes-design-icon-abstract-football-illustration-with-white-background-free-vector.jpg" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="" src="https://cdn.britannica.com/94/193794-050-0FB7060D/Adidas-logo.jpg" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </section>
        

        

       
    </main>
    <%- include('footer') %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
       
        
        // Use event delegation to handle clicks on "Add To Cart" buttons
        document.querySelector('.product-grid-4').addEventListener('click', async (e) => {
            if (e.target && e.target.classList.contains('add-to-cart-btn')) {
                // Get the product ID from the clicked button's href
                const href = e.target.getAttribute('href');
                const productId = new URLSearchParams(href.split('?')[1]).get('id');
               
                // Use SweetAlert2 to show a success message for the clicked product
                await Swal.fire({
                    title: 'Add To Cart',
                    text: `You added to the cart!`,
                    icon: 'success',
                    timer: 2000,
                    showConfirmButton: false, // Hide the confirmation button
                });
    
                // Allow the default link navigation
                return true;
            }
        });
    </script>
    <script>


function addToCart(id){
   
    let cartCountValue = parseInt($("#cart-Count").text());
   cartCountValue += 1;

   // Set the incremented value back to the span
   $("#cart-Count").text(cartCountValue);

    
               
                $.ajax({
                    url:`/addToCart?id=${id}`,
                    method:"get",
                    success: (response)=>{
                        if(response.status == true){
                            Swal.fire({
  title: 'ADD TO CART',
  text: 'Product Added to cart',
  icon: 'success',
  timer: 1000,
  showConfirmButton: false, // This removes the button
});
                           
                        }else {
                            Swal.fire({
  title: 'OUT OF STOCK',
  text: '..............',
  icon: 'error',
  timer: 1000,
  showConfirmButton: false, // This removes the button
});
                            // location.href='/login'
                        }

                    }
                })

            }







       </script>

<script>
    function wishList(id) {
      $.ajax({
        url: `/addToList?id=${id}`,
        method: "get",
        success: (response) => {

          if (response.status) {
            Swal.fire({
              title: "ADDED TO WISHLIST",
              text: "You seleted a Product to the wishlist",
              icon: "success",
              timer: 3000,
            });
          } else {
            Swal.fire({
              title: "ALREADY SELECTED!",
              text: "You already selected", 
              icon: "error",
              timer: 3000,

              
            });
          }
        },
      });
      const number=document.getElementById('wishlist-Count').innerHTML
      document.getElementById('wishlist-Count').innerHTML= parseInt(number) + 1
    }
  </script>
   
   

